@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nothing+You+Could+Do&family=Outfit:wght@100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+AU+VIC:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lusitana:wght@400;700&family=Playwrite+AU+VIC:wght@100..400&family=Timmana&display=swap');

*{
    font-family: Outfit;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


.unorderlist:hover{
  color: tomato;
}

.contact:hover{
  cursor: pointer;
}

.banner{
    background-color: rgb(160, 131, 187);
    padding: 120px 0;
}

/* rgb(160, 131, 187) */

.profile{
  border-radius: 17px 0px 17px 0px;
}

.card-text{
  padding-right: 0%;
}

.sepFont{
  font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.backLog{
  height: 300px;
  width: 300px;
}

.projectLogo{
  height: 250px;
  width: 300px;
}


#contact a span{
  color: rgb(190, 185, 185);
}

a{
  text-decoration: none;
}

.social-icons{
  width: 33px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid #ff004f;
  border-radius: 10px;
  
}

.content{
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link:hover{
  color: tomato;
  border-bottom: 1px solid black;
}

.goLive:hover{
  transform: scale(1.03);
}

.card-img-top:hover{
  transform: scale(1.03);
}

.bth:hover{
  transform: scale(1.03);
}

.projectLogo:hover{
  transform: none;
}

.top-icons{
  width: 30px;
  margin-top: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

.top-icons-div{
  margin-left: 13px;
}

.pro-div{
  height: 395px;
  margin-left: 10px;
}

.mail,.phn{
  width: 30px;
}

.con{
  margin-left: 7px;
}

.top-icons:hover{
  transform: scale(1.12);
}

.pro-com{
  margin-left: 38px;
}

.subbtn{
  background-color: #ff004f;
  border: none;
}

.subbtn:hover{
  background-color: #ff004f;
  border: none;
}

#msg{
  display: block;
  margin-top: 12px;
  color:green;
}

.project-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

@media (max-width:750px) {
  .project-row{
    display: grid;
    grid-template-columns: none;
    margin-left: 5.7px;
  }
}